/***********************************************************************************************************************************************************************************************************/
/*Import*/
@import "../../Agrid/Styles/AR_Strap";
/*Import*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--IconSize: auto; /*To set the width and height of the container of the icons(miniTogglebox_ArIcon)*/
	--IconImageSize: 110px; /*To set the width and height of the image (.pic_ArIcon)*/
	--IconTopTextHeight: 15px;  /* To set the height of the top text (topLogo_ArIcon)*/
	--IconTopPosition: flex-end; /*To position the top text (topLogo_ArIcon)*/
	--IconTopTextColor: blue; /*To set the text color (topLogo_ArIcon)*/
	--IconTextSize: 18px; /*To set teh size of the Text (miniTogglebox_ArIcon > span)*/
	--IconLowerTextColor: black; /*To set teh size of the Text (miniTogglebox_ArIcon > span)*/

	--IconImageSizeHover: 115px; /*To modift the Image size when hover*/

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/


/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
   
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/