/***********************************************************************************************************************************************************************************************************/
/*Import*/
@import "../../Global Styles/Global Style";
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Brush Script MT', cursive;
}
#maincontainer{
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
}
.content{
	position: relative;
	display: flex;
	width: 600px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	margin-top: 25px;
	margin-bottom: 25px;
}
#maincontet{
	position: relative;
	display: flex;
	margin: auto;
	width: 500px;
	height: 590px;
	flex-flow: column nowrap;
	background-color: ghostwhite;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	box-sizing: border-box;
}
.forms{
	position: relative;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	flex-flow: column nowrap;
	box-sizing: border-box;
	padding-top: 5px;
	margin: 5px;
	font-weight: bold;
}
#stform{
	margin-top: 25px;
}
.forms input{
	height: 25px;
	box-sizing: border-box;
}
#maincontet button{
	margin-top: 15px;
	width: 200px;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
   .content{
		width: 99%;
	}
	#maincontet{
		width: 95%;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/