/***********************************************************************************************************************************************************************************************************/
/*Import*/
@import "../../Global Styles/Global Style";
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
html, body{
	position: relative;
	padding: 0px;
	margin: 0px;
	//height: 100%;
    //width: 100%;

	//border: 2.5px solid yellow;
}
#Client{
	border-bottom: 3px solid black;
}

#customBody{
	position: fixed;
	padding: 0px;
	margin: 0px;
	height: 100%;
    width: 100%;
    overflow: auto;
}


/*Styles per section*/
.section{
	position: relative;
	box-sizing: border-box;
}
/*Styles per section*/


/*1st content*/
/**Pikachu Main Wrapper*/
.pikachu {
    width: 100%;
    height: clamp(400px, calc(100% - 80px), calc(100% - 80px)); /*To be changed*/
    background: url('../../src/pikachu.jpg') no-repeat center center;
    background-size: cover; /*To be changed*/
    color: white; 
    z-index: -1;
}
/**Pikachu Main Wrapper*/

/**Pikachu Content Wrapper*/
.pikachu #pikachuContentWrapper{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	top: 50%;
	transform: translateY(-50%);
	max-width: 650px; /*To be changed*/
	margin-left: 70px; /*To be changed*/
	font-family: calibri;
}
/**Pikachu Content Wrapper*/

/**Pikachu texts*/
#pikachuContentWrapper h1, #pikachuContentWrapper p {
    text-align: left; /*To be changed*/
}
/**Pikachu texts*/

/**Pikachu buttons*/
.button-container{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row wrap;
}

.button-container button {
	margin: 5px;
	padding: 10px;	
}
/**Pikachu buttons*/
/*1st content*/


/*2nd content*/
/**superPower Main Wrapper*/
#superPowerWrap{
	display: flex;
	flex-flow: row nowrap; /*To be changed*/
	align-items: flex-start; /*To be changed*/
	justify-content: center; /*To be changed*/
    height: clamp(510px, 100%, 100%); /*To be changed*/
    z-index: -1;
    padding-top: 80px; /*To be changed*/

}
/**superPower Main Wrapper*/

/**superPower Content wrapper*/
#superPowerWrap .superPowerItems{
	position: relative;
	box-sizing: border-box;
	top: 50%; /*To be changed*/	
	transform: translateY(-50%); /*To be changed*/
	width: 540px; /*to be changed*/
	height: 440px; 

	//border: 1.5px solid green;
}
/**superPower Content wrapper*/

/**superPower Texts*/
#superPowerWrap #superPowerText{
	white-space: normal;	
	padding-top: 60px;	/*To be changed*/
}

#superPowerText span{
	display: block;
	font-family: calibri;	
}

#superPowerText span#theDisignText{	
	font-size: 52px;
	font-weight: bold;
}

#superPowerText span#toolsTutorialText{
	color: #6A625D;
	font-size: 22px;
}
/**superPower Texts*/

/**superPower Image*/
#superPowerWrap #jumpingBgWrap{
	position: relative;
	display: block;
	box-sizing: border-box;	
	background: url("../../src/hero-img.png") center center no-repeat;
	background-size: contain;
}
/**superPower Image*/
/*2nd content*/

/*3rd content*/

/* style the actual cointener*/
#designP{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center;
	z-index: -1;
	height: clamp(510px, 100%, 100%);  /* 510px is the limit ng pic hindi na lilitt doon*/
}	

/* setting up size and dimention on each box on the cointainer*/
#designP .profItem{
	position: relative;
	box-sizing: border-box;
	top: 50%; /*To be changed*/	
	transform: translateY(-50%); /*To be changed*/
	width: 540px; /*to be changed*/
	height: 540px; 
}

#design #profText{
	white-space: normal;
}

#profText span{
	display: block;
	
	font-family: calibri;
	margin-bottom: 5px;
	font-size: 20px;
}


#profText span#big{
	font-size: 40px;
	font-weight: bold;
}

#profText span#mid{
	font-size: 30px;
	font-size: bold;
}

#profText span#small{
	font-size: 15px;
	margin-bottom: 15px;
}


/*design the right box with image as backround*/
#designP #Professional{
	position: relative;
	display: block;
	box-sizing: border-box;
	background: url("../../validation.png") center center no-repeat; /* para center top, bottom left right, no repeart para d maulet*/
	background-size: contain; /* para 100% parin ung pic fit sa cointener nya*/
}


/*3rd content*/
/***********************************************************************************************************************************************************************************************************/

/*Default*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Responsive Mode*/

/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (max-width:1080px){
	/*1st content*/
	.pikachu{
		height: clamp(350px, 100%, 100%);
		background-size: 100% contain;
	}

	.pikachu #pikachuContentWrapper{		
		max-width: auto;
		margin: auto;
	}

	#pikachuContentWrapper h1, #pikachuContentWrapper p {
    	text-align: center;
	}

	.button-container{		
		justify-content: center;
	}

	.pikachu h1, .pikachu p, .button-container button{
		font-size: 14px; /*New property added*/
	}
	/*1st content*/


	/*2nd content*/
	/**superPower Main Wrapper*/
	#superPowerWrap{
		flex-flow: column nowrap;
		align-items: center;
		justify-content: flex-start;
	    height: clamp(720px, 100%, 100%);
	    padding-top: 0px; 
	}
	/**superPower Main Wrapper*/

	/**superPower Content wrapper*/
	#superPowerWrap .superPowerItems{
		width: 100%;
		top: 0;
		transform: none;
	}
	/**superPower Content wrapper*/

	/**superPower Texts*/	
	#superPowerWrap #superPowerText{
		padding-top: 50px;		
		padding-left: 35px; /*New property added*/
		padding-right: 35px; /*New property added*/	
	}
	#superPowerText span{		
		text-align: center;	/*New Property added*/		
	}
	/**superPower Texts*/
	/*2nd content*/


	/*3nd content*/
	#designP {
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: center;
		height: clamp(720px, 100%, 100%);
	    padding-top: 0px;
	}
	#designP .profItem{
		width: 100%;
		top: 0;
		transform: none; 
	}

	#profText{
		padding-top: 20px;
		padding-left: 45px;
		padding-right: 80px;
	}
	/*3nd content*/
	

}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/

/*Responsive Mode*/
/***********************************************************************************************************************************************************************************************************/