/***********************************************************************************************************************************************************************************************************/
/*Import*/
/***********************************************************************************************************************************************************************************************************/

/*flex-shirk:0;*/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background: var(--LoginBackgroundImage);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;     /* Hide horizontal scrollbar */
   	overflow-y: scroll; /* Add vertical scrollbar */
  	box-sizing: border-box;
}
.form-container_ArClass{
	display: flex;
	position: relative;
	align-content: center;
	flex-flow: row;
	width: var(--LoginFrameWidth);
	height: var(--LoginFrameHeight);
	flex-shirk: 0;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 30px;
	backdrop-filter: blur(20px);
}
.rightLogo_ArClass{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: var(--LoginLogoRightWidth);
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(30px);
	border-radius: 0 30% 20% 0;
	transition: border-radius.3s;
}

.form-image-main {
	display: flex;
  	position: relative;
  	object-fit: contain;
  	width: var(--LoginLogoWidth);
}

.innerbox_ArClass{
	position: relative
	display flex;
	flex-shirk: 0;
	width: var(--LoginLogoLeftWidth);
	flex-flow: row;
	box-sizing: border-box;
}
.btn-box_ArClass{
	display: flex;
	position: relative;
	justify-content: center;
	height: 25px;
	margin-top: 20px;
}
.btn{
	font-weight: 500;
	padding: 7px 40px;
	border: none;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.2);
	color: var(--LoginTextColor);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: .3s;
}
.btn-1_ArClass{
	background: var(--LoginBtnColor);
}
.btn:hover{
	opacity: 0.75;
}

/*First Colum*/
.col-1_ArClass{
	position: relative;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 4vw;
	transition: .5s;
}

.form-image-main_ArClass{
	position: relative;
	width: var(--LoginLogoWidth);
}
/*First Colum*/

/*Second Colum*/
.col-2_ArClass{
	position: relative;
	width: 100%;
	padding: 5px;
	display: none;
}

/* Login Form*/
.login-form_ArClass{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 5%;
	transition: .5s;
}
.register-form_ArClass{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 5%;
	transition: .3s;
}
.form-title_ArClass{
	margin: var(--LoginSignInSpacing);
	color: var(--LoginTextColor);
	font-size: var(--LoginSignInSignUpSize);
	font-weight: 600;
}
.form-inputs_ArClass{
	width: 100%;
}
.input-box_ArClass{
	position: relative;
}
.input-field_ArClass{
	width: 100%;
	height: var(--LoginInputBoxSize);
	padding: 0 15px;
	margin: var(--LoginInputBoxSpace);
	color: black;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 10px;
	outline: none;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
::placeholder{
	color: var(--LoginTextColor);
	font-size: 15px;
}
.forgot-pass_ArClass{
	display: flex;
	justify-content: center;
	gap: 5px;
}
.forgot-pass_ArClass a{
	color: var(--LoginTextColor);
	text-decoration: none;
	font-size: 14px;
}
.forgot-pass_ArClass a:hover{
	text-decoration: underline;
}
.input-submit_ArClass{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
	height: var(--LoginInputBoxSize);
	padding: 0 15px;
	margin: 10px 0;
	color: var(--LoginTextColor);
	background: var(--LoginBtnColor);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: .3s;
}
.input-submit_ArClass:hover{
	gap: 15px;
}
.social-login_ArClass{
	display: flex;
	gap: 20px;
	margin-top: 20px;
}
.social-login_ArClass i{
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--LoginSocialSize);
	width: var(--LoginSocialSize);
	color: var(--LoginTextColor);
	margin: 10px 0;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: .2sec;
}
.social-login_ArClass i:hover{
	transform: scale(0.9);
}

/*For Icon section*/
.miniTogglebox_ArIcon{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	height: var(--IconSize);
	width: var(--IconSize);
	margin-top: 0;
	box-sizing: border-box;
	border-radius: 12px;
	padding: 4px;
	margin: 10px;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.topLogo_ArIcon{
	display: flex;
	position: relative;
	flex-flow: row;
	width: 100%;
	font-size: var(--IconTopTextHeight);
	font-weight: bold;
	color: var(--IconTopTextColor);
	box-sizing: border-box;
	justify-content: var(--IconTopPosition);
}
.togglebox_ArIcon{
	display: flex;
	position: relative;
	height: var(--IconImageSize);
	width: var(--IconImageSize);
	box-sizing: border-box;
	border-radius: 10px;
}
.pic_ArIcon{
	background-position: center;
	background-size: cover;
	background-image: var(--IconBackgroundImage);

}
.miniTogglebox_ArIcon span{
	text-align: center;
	color: var(--IconLowerTextColor);
	font-size: var(--IconTextSize);
	box-sizing: border-box;
}

.miniTogglebox_ArIcon span:hover{
	font-weight: 600;
	box-sizing: border-box;
	transition: .2s ease-in-out
}

.miniTogglebox_ArIcon:hover{
	transition: .2s ease-in-out;
	box-sizing: border-box;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.togglebox_ArIcon:hover{
	height: var(--IconImageSizeHover);
	width: var(--IconImageSizeHover);
	transition: .2s ease-in-out
}
/*For Icon section*/

/*For Filter Section*/
.dropdown_ArFilter {
	display: flex;
	position: relative;
	width: var(--FilterFrameWidth);
	height: var(--FilterFrameHeight);
	flex-flow: column;
	border-radius: var(--FilterFrameRadius);;

	z-index: 5;
	box-sizing: border-box;
}
.dropdown-button_ArFilter {
	display: flex;
	position: relative;
	flex-flow: column;
	border-radius: var(--FilterFrameRadius);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	background-color: transparent;

}
.pic_ArFilter{
	background-position: center;
	background-size: cover;
	background-image: var(--FilterImage);
}

/* Hide the Menu Items*/
.menu_ArFilter {
	display: none;
	position: absolute;
	width: var(--FilterButtonWidth);
	height: auto;
	margin-top: 100%;
	right: 0%;
	flex-flow: column;
	border-radius: var(--FilterFrameButtonRadius);
	z-index: 5;
	background-color: var(--FilterBackroundColor);
	border:  2px solid black;
	padding: var(--FilterButtonPadding);
}
.menu-item_ArFilter {
	margin: 0;
	cursor: pointer;
	padding: 10px;
	border:  none;
	background-color: var(--FilterBackroundColor);
}
.menu-item_ArFilter button{
	border: transparent;
}
.menu_ArFilter button:hover{
	font-weight: bold;
	font-size: var(--FilterHoverTextSize);
	background-color: var(--FilterHoverBackroundColor);
	color: var(--FilterHoverTextColor);
}

/*For Filter Section*/
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
  
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
    
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

 


/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
@media all and (max-height:700px){

}