/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
@mixin main-Smart{
	flex-flow: column nowrap;
}
/*Left Side*/
@mixin container1-Smart{
	width: 98%;
	height: 68%;
	border-radius: 10px 10px 10px 10px;
}
/*Left Side*/

/*Right Side*/
@mixin container2-Smart{
	flex-flow: row nowrap;
	width: 98%;
	height: 29%;
	border-radius: 10px 10px 10px 10px;
}
@mixin rightside-h1-Smart{
	display: flex;
	position: relative;
	margin-top: 0px;
	left: 2px;	
	right: 2px;
	font-size: 17px;
}
@mixin rightside1-Smart{
	height: 98%;
	width: 80%;
	flex-flow: row nowrap;
	margin-top: 0;
	margin-left: 0;
	margin-right: 30px;
}
@mixin rightside2-Smart{ 
	flex-flow: column nowrap;
	height: 95%;
	width: 40%;
}
@mixin rightside2-h2-Smart{
	border-bottom: 5px solid #3366ff;
}
@mixin rightside2-button-Smart{
	height: 40px;
	margin: auto;
	width: 100px;
}
@mixin content-Smart{
	margin-top: 2px;
	width: 60%;
	height: 65%;
}
@mixin h3-Smart{
	position: absolute;
	bottom: 0px;
}
/*Right Side*/
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/



/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
