/***********************************************************************************************************************************************************************************************************/
/*General Styles*/


/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/*1st content*/
@mixin wraper4-p-Smart{
	padding: 5px;
}
/*1st content*/

/*2nd content*/
@mixin wraper5-img-Smart{
	width: 80%;
}
/*2nd content*/

/*3rd content*/
@mixin main4-Smart{
	height: 1500px;
}

@mixin main4-span-Smart{
	margin-left: 20px;
	margin-right: 20px;
}

@mixin container4-Smart{
	flex-flow: column nowrap;
	height: 700px;
}

@mixin wraper6-Smart{
	margin-right: auto;
	margin-left: auto;
}

@mixin container4-img-Smart{
	margin-right: auto;
	margin-left: auto;
	height: 400px;
}

@mixin icons-Smart{
	height: 600px;
}

@mixin icons1-Smart{
	flex-wrap: wrap;
	margin-left: 10%;
	margin-right: 5%;
}
/*3rd content*/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
