/***********************************************************************************************************************************************************************************************************/
/*General Styles*/


/*General Styles*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/*Heading here*/
@mixin container-Smart{
	padding-left: 10px;
	padding-right: 10px;
}
@mixin container-img-Smart{
		height: 80px;
}
@mixin wraper2-a-Smart{
	font-size: 17px;
	padding: 3px;
	margin: 2px;
}
@mixin wraper3-Smart{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
@mixin wraper3-button-Smart{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
@mixin wraper3-a-Smart{
	border-radius: 10px;
}
/*Heading here*/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

